<a href="https://colab.research.google.com/github/guo8orou/github/blob/main/%EA%B3%BC%EC%A0%81%ED%95%A9%EB%90%9CGridCV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 이전 커밋의 전처리 데이터 활용
#### 점수 향상 도전

In [1]:
import pandas as pd

train=pd.read_csv('tr.csv')
test=pd.read_csv('ts.csv')

In [23]:
Xy=pd.read_csv('train.csv')
y=Xy['Survived']

In [9]:
del train['Unnamed: 0']
del test['Unnamed: 0']

In [25]:
train.head()

   age  sib  pc  cab  fare  sex  class  emb
0    3    3   1    0     0    1      3    2
1    3    3   1    2     1    0      1    0
2    3    1   1    0     0    0      3    2
3    3    3   1    2     1    0      1    2
4    3    1   1    0     0    1      3    2

휴 드디어 복구 완료 ~

In [24]:
X=train

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1, stratify=y)

결정트리 그리드서치!

In [41]:
import numpy as np
from sklearn.model_selection import GridSearchCV
pm={'min_impurity_decrease':np.arange(0.0001, 0.001, 0.0001),
    'max_depth': range(3,15,1),
    'min_samples_split':range(2,50, 5),
    'criterion':['gini','entropy']}

In [43]:
from sklearn.tree import DecisionTreeClassifier
gs=GridSearchCV(DecisionTreeClassifier(random_state=59), pm, n_jobs=-1)
gs.fit(X_train, y_train)

GridSearchCV(cv=None, error_score=nan,
             estimator=DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort='deprecated',
                                              random_state=59,
                                              splitter='best'),
             iid='deprecated', n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': range(3, 15),
                         'min_impurity_decrease': array([0.0001, 0.0002, 0.0003, 0.0004, 0.0005, 0.0006, 0.0007, 0.0008,
       0.0009]),
                         'min_samples_split': range(2, 50, 5)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [45]:
#엥,, 별 차잉 없네요
print(gs.best_score_)

0.8299225806451613

In [44]:
#약간 과적합일 듯 한데..흠, 일단 해볼게요
print(gs.best_params_)

{'criterion': 'gini', 'max_depth': 7, 'min_impurity_decrease': 0.0005, 'min_samples_split': 2}

In [49]:
new_tr=DecisionTreeClassifier(random_state=59, criterion='gini',max_depth=7, min_impurity_decrease=0.0005, min_samples_split=2)

In [50]:
new_tr.fit(X, y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=7, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0005, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=59, splitter='best')

In [52]:
y_pred=new_tr.predict(test)

In [53]:
sub4=pd.read_csv('Sub2.csv')
sub4['Survived']=y_pred
sub4.to_csv('Sub4.csv')