<a href="https://colab.research.google.com/github/guo8orou/github/blob/%EA%B5%90%ED%86%B5%EC%82%AC%EA%B3%A0%EB%8D%B0%EC%9D%B4%ED%84%B0/%EB%82%A0%EC%94%A8_%ED%81%AC%EB%A1%A4%EB%A7%81_%ED%86%B5%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#날씨 전처리

해당 노트북의 내용

데이터: 일별 날씨 데이터



1.   웹 크롤링
2.   전처리
3.   데이터 통합

In [1]:
import requests

url17_1 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2017&mm=1&obs=9&x=21&y=8')
url17_2 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2017&mm=2&x=8&y=15&obs=9')
url17_3 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2017&mm=3&obs=9&x=23&y=15')
url17_4 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2017&mm=4&obs=9&x=23&y=9')
url17_5 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2017&mm=5&x=14&y=11&obs=9')
url17_6 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2017&mm=6&x=11&y=8&obs=9')
url17_7 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2017&mm=7&x=25&y=8&obs=9')
url17_8 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2017&mm=8&x=21&y=9&obs=9')
url17_9 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2017&mm=9&obs=9&x=25&y=15')
url17_10 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2017&mm=10&obs=9&x=18&y=12')
url17_11 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2017&mm=11&x=37&y=10&obs=9')
url17_12 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2017&mm=12&x=26&y=11&obs=9')

In [2]:
url18_1 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2018&mm=1&x=23&y=12&obs=9')
url18_2 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2018&mm=2&x=21&y=7&obs=9')
url18_3 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2018&mm=3&x=22&y=11&obs=9')
url18_4 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2018&mm=4&obs=9&x=23&y=9')
url18_5 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2018&mm=5&x=19&y=14&obs=9')
url18_6 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2018&mm=6&x=16&y=10&obs=9')
url18_7 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2018&mm=7&x=19&y=0&obs=9')
url18_8 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2018&mm=8&x=20&y=14&obs=9')
url18_9 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2018&mm=9&x=21&y=7&obs=9')
url18_10 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2018&mm=10&x=10&y=11&obs=9')
url18_11 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2018&mm=11&x=13&y=7&obs=9')
url18_12 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2018&mm=12&x=25&y=11&obs=9')

In [3]:
url19_1 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2019&mm=1&x=18&y=8&obs=9')
url19_2 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2019&mm=2&x=24&y=11&obs=9')
url19_3 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2019&mm=3&x=10&y=11&obs=9')
url19_4 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2019&mm=4&x=25&y=6&obs=9')
url19_5 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2019&mm=5&x=9&y=15&obs=9')
url19_6 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2019&mm=6&x=16&y=7&obs=9')
url19_7 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2019&mm=7&x=18&y=5&obs=9')
url19_8 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2019&mm=8&x=14&y=10&obs=9')
url19_9 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2019&mm=9&x=15&y=9&obs=9')
url19_10 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2019&mm=10&x=30&y=11&obs=9')
url19_11 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2019&mm=11&x=18&y=8&obs=9')
url19_12 = requests.get('https://web.kma.go.kr/weather/climate/past_cal.jsp?stn=108&yy=2019&mm=12&x=28&y=15&obs=9')

In [4]:
url=[ url17_1, url17_2, url17_3, url17_4, url17_5, url17_6, url17_7,url17_8, url17_9, url17_10, url17_11, url17_12,
url18_1, url18_2, url18_3, url18_4, url18_5, url18_6, url18_7,url18_8, url18_9, url18_10, url18_11, url18_12,
url19_1, url19_2, url19_3, url19_4, url19_5, url19_6, url19_7,url19_8, url19_9, url19_10, url19_11, url19_12]

In [5]:
import re
import numpy as np

weather=[]

for u in url:
  c=re.findall('\s<td class="align_left">(.+)<\/td>', u.text)
  weather.append(c)

17년 1월 ~ 19년 12월

In [6]:
len(weather)
#weather[1~35]가 17년 1월 ~12월의 일자와 날씨 정보 포함

36

In [7]:
# 월별 일주일씩 일 / 날씨
wth=[np.array(c).reshape(-1,7) for c in weather]

In [8]:
wth[1]

array([['&nbsp;', '&nbsp;', '&nbsp;', '1일', '2일', '3일', '4일'],
       ['&nbsp;', '&nbsp;', '&nbsp;', '&nbsp;', '&nbsp;', '박무<br />연무',
        '박무<br />연무'],
       ['5일', '6일', '7일', '8일', '9일', '10일', '11일'],
       ['비<br />눈<br />진눈깨비<br />박무<br />연무', '연무', '&nbsp;', '&nbsp;',
        '&nbsp;', '&nbsp;', '&nbsp;'],
       ['12일', '13일', '14일', '15일', '16일', '17일', '18일'],
       ['&nbsp;', '박무', '박무', '연무', '비<br />박무<br />연무',
        '비<br />안개<br />박무', '&nbsp;'],
       ['19일', '20일', '21일', '22일', '23일', '24일', '25일'],
       ['비<br />눈<br />박무', '비<br />안개<br />박무', '&nbsp;',
        '비<br />눈<br />진눈깨비<br />박무', '박무', '&nbsp;', '박무<br />연무'],
       ['26일', '27일', '28일', '&nbsp;', '&nbsp;', '&nbsp;', '&nbsp;'],
       ['박무<br />연무', '&nbsp;', '&nbsp;', '&nbsp;', '&nbsp;', '&nbsp;',
        '&nbsp;']], dtype='<U34')

In [95]:
import pandas as pd

cond=pd.Series([])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

In [62]:
wth[0][0][0][:-1]

'1'

In [96]:
for i in range(0,36): #17년~19년의 12개월 array
  for k in range(0,len(wth[i]),2):  #1일, 2일, 3일...
    for j in range(0,7): #
      cond[str(i)+' '+wth[i][k][j][:-1]]=wth[i][k+1][j] #key:일, value:날씨

cond

0 1                       박무<br />연무
0 2                비<br />박무<br />연무
0 3                       박무<br />연무
0 4                       박무<br />연무
0 5                           &nbsp;
                      ...
35 28                         &nbsp;
35 29                      비<br />박무
35 30       비<br />눈<br />박무<br />연무
35 31                              눈
35 &nbsp                      &nbsp;
Length: 1131, dtype: object

key가 &npsp;로 끝난 경우 첫주나 마지막주에서 달력 칸이 공란이었을 겁니다

In [97]:
#'일'을 제거하는 과정에서 맨끝 글자가 ;가 아닌 p가 되었습니다
cond.index[-1][-1:]

'p'

In [98]:
#Boolean index
TFmask=[ x[-1:]!='p' for x in cond.index ]

In [99]:
cond=cond[TFmask]

In [101]:
len(cond)==365*3
#다 가져왔습니다!

True

In [104]:
cond.index[1:40]

Index(['0 2', '0 3', '0 4', '0 5', '0 6', '0 7', '0 8', '0 9', '0 10', '0 11',
       '0 12', '0 13', '0 14', '0 15', '0 16', '0 17', '0 18', '0 19', '0 20',
       '0 21', '0 22', '0 23', '0 24', '0 25', '0 26', '0 27', '0 28', '0 29',
       '0 30', '0 31', '1 1', '1 2', '1 3', '1 4', '1 5', '1 6', '1 7', '1 8',
       '1 9'],
      dtype='object')

In [110]:
sum([ cond.index[i][-2:]==' 1' for i in range(0,len(cond.index)) ])
#1일의 개수 36개 : 36개월

[ i for i in range(0,len(cond.index)) if cond.index[i][-2:]==' 1' ]
#각 월의 시작 인덱스

[0,
 31,
 59,
 90,
 120,
 151,
 181,
 212,
 243,
 273,
 304,
 334,
 365,
 396,
 424,
 455,
 485,
 516,
 546,
 577,
 608,
 638,
 669,
 699,
 730,
 761,
 789,
 820,
 850,
 881,
 911,
 942,
 973,
 1003,
 1034,
 1064]

In [117]:
cond[0]

'박무<br />연무'

In [121]:
cond[0].replace('<br />', ' ')

'박무 연무'

In [126]:
#일은 다 정리 되었으므로 날씨를 보겠습니다

def weth(x):
  if x[-1]==';':
    return '없음'
  return x.replace('<br />', ' ')

cond=cond.apply(weth)

In [127]:
cond

0 1          박무 연무
0 2        비 박무 연무
0 3          박무 연무
0 4          박무 연무
0 5             없음
           ...
35 27           연무
35 28           없음
35 29         비 박무
35 30    비 눈 박무 연무
35 31            눈
Length: 1095, dtype: object

In [133]:
conds=pd.DataFrame(cond)

In [140]:
conds.columns

RangeIndex(start=0, stop=1, step=1)

In [147]:
conds['날씨']=conds[0]
del conds[0]

In [166]:
#모든 날씨를 일별로 합치고 ' ' 기준으로 나누어 리스트로 나열 후, 고유값 확인을 위해 집합으로 변환
wetlist=list(set(' '.join(conds['날씨']).split()))
wetlist

['안개비',
 '달코로나',
 '황사',
 '연무',
 '싸락우박',
 '안개',
 '낮은안개',
 '햇무리',
 '무지개',
 '소낙눈',
 '소나기',
 '달무리',
 '채운',
 '싸락눈',
 '박무',
 '진눈깨비',
 '없음',
 '눈',
 '비',
 '우박']

생각보다 종류가 많군요! 일단 OneHot Encoding 방식을 사용해보겠습니다

In [168]:
cond[1] #str
cond[1].split() #list

['비', '박무', '연무']

우선 새로운 열 생성을 위해 index를 reset합니다

In [172]:
conds.reset_index(inplace=True)

In [174]:
for i in wetlist:
  temp=pd.Series([]) #각 열 

  for j in range(0,len(cond)):
    if i in cond[j].split():
      temp[j]=1
    else:
      temp[j]=0

  conds[i]=temp

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

안개비 0       0
1       0
2       0
3       0
4       0
       ..
1090    0
1091    0
1092    0
1093    0
1094    0
Length: 1095, dtype: int64
달코로나 0       0
1       0
2       0
3       0
4       0
       ..
1090    0
1091    0
1092    0
1093    0
1094    0
Length: 1095, dtype: int64
황사 0       0
1       0
2       0
3       0
4       0
       ..
1090    0
1091    0
1092    0
1093    0
1094    0
Length: 1095, dtype: int64
연무 0       1
1       1
2       1
3       1
4       0
       ..
1090    1
1091    0
1092    0
1093    1
1094    0
Length: 1095, dtype: int64
싸락우박 0       0
1       0
2       0
3       0
4       0
       ..
1090    0
1091    0
1092    0
1093    0
1094    0
Length: 1095, dtype: int64
안개 0       0
1       0
2       0
3       0
4       0
       ..
1090    0
1091    0
1092    0
1093    0
1094    0
Length: 1095, dtype: int64
낮은안개 0       0
1       0
2       0
3       0
4       0
       ..
1090    0
1091    0
1092    0
1093    0
1094    0
Length: 1095, dtype: int64
햇무리 0       0
1       0
2       0
3       0
4       0
       ..
1090    0
1091    0
1092    0
1093    0
1094    0
Length: 1095, dtype: int64
무지개 0       0
1       0
2       0
3       0
4       0
       ..
1090    0
1091    0
1092    0
1093    0
1094    0
Length: 1095, dtype: int64
소낙눈 0       0
1       0
2       0
3       0
4       0
       ..
1090    0
1091    0
1092    0
1093    0
1094    0
Length: 1095, dtype: int64
소나기 0       0
1       0
2       0
3       0
4       0
       ..
1090    0
1091    0
1092    0
1093    0
1094    0
Length: 1095, dtype: int64
달무리 0       0
1       0
2       0
3       0
4       0
       ..
1090    0
1091    0
1092    0
1093    0
1094    0
Length: 1095, dtype: int64
채운 0       0
1       0
2       0
3       0
4       0
       ..
1090    0
1091    0
1092    0
1093    0
1094    0
Length: 1095, dtype: int64
싸락눈 0       0
1       0
2       0
3       0
4       0
       ..
1090    0
1091    0
1092    0
1093    0
1094    0
Length: 1095, dtype: int64
박무 0       1
1       1
2       1
3       1
4       0
       ..
1090    0
1091    0
1092    1
1093    1
1094    0
Length: 1095, dtype: int64
진눈깨비 0       0
1       0
2       0
3       0
4       0
       ..
1090    0
1091    0
1092    0
1093    0
1094    0
Length: 1095, dtype: int64
없음 0       0
1       0
2       0
3       0
4       1
       ..
1090    0
1091    1
1092    0
1093    0
1094    0
Length: 1095, dtype: int64
눈 0       0
1       0
2       0
3       0
4       0
       ..
1090    0
1091    0
1092    0
1093    1
1094    1
Length: 1095, dtype: int64
비 0       0
1       1
2       0
3       0
4       0
       ..
1090    0
1091    0
1092    1
1093    1
1094    0
Length: 1095, dtype: int64
우박 0       0
1       0
2       0
3       0
4       0
       ..
1090    0
1091    0
1092    0
1093    0
1094    0
Length: 1095, dtype: int64

잘 되었는지 볼까요?

In [175]:
conds

      index         날씨  안개비  달코로나  황사  연무  싸락우박  ...  싸락눈  박무  진눈깨비  없음  눈  비  우박
0       0 1      박무 연무    0     0   0   1     0  ...    0   1     0   0  0  0   0
1       0 2    비 박무 연무    0     0   0   1     0  ...    0   1     0   0  0  1   0
2       0 3      박무 연무    0     0   0   1     0  ...    0   1     0   0  0  0   0
3       0 4      박무 연무    0     0   0   1     0  ...    0   1     0   0  0  0   0
4       0 5         없음    0     0   0   0     0  ...    0   0     0   1  0  0   0
...     ...        ...  ...   ...  ..  ..   ...  ...  ...  ..   ...  .. .. ..  ..
1090  35 27         연무    0     0   0   1     0  ...    0   0     0   0  0  0   0
1091  35 28         없음    0     0   0   0     0  ...    0   0     0   1  0  0   0
1092  35 29       비 박무    0     0   0   0     0  ...    0   1     0   0  0  1   0
1093  35 30  비 눈 박무 연무    0     0   0   1     0  ...    0   1     0   0  1  1   0
1094  35 31          눈    0     0   0   0     0  ...    0   0     0   0  1  0   0

[1095 rows x 22 columns]

날씨의 개수 열을 추가합니다

In [189]:
conds['날씨개수']=conds.loc[:,'안개비':].sum(axis=1)

In [193]:
#참고로 default인 axis=0은 열별 합입니다
conds.loc[:,'안개비':].sum(axis=0)

#안개, 박무의 날이 많군요

안개비       48
달코로나       3
황사        18
연무       473
싸락우박       4
안개        21
낮은안개       2
햇무리       40
무지개        2
소낙눈        3
소나기       63
달무리        2
채운        14
싸락눈        2
박무       500
진눈깨비      21
없음       310
눈         70
비        331
우박         3
날씨개수    1930
dtype: int64

In [194]:
conds
#죠습니다~

      index         날씨  안개비  달코로나  황사  연무  싸락우박  ...  박무  진눈깨비  없음  눈  비  우박  날씨개수
0       0 1      박무 연무    0     0   0   1     0  ...   1     0   0  0  0   0     2
1       0 2    비 박무 연무    0     0   0   1     0  ...   1     0   0  0  1   0     3
2       0 3      박무 연무    0     0   0   1     0  ...   1     0   0  0  0   0     2
3       0 4      박무 연무    0     0   0   1     0  ...   1     0   0  0  0   0     2
4       0 5         없음    0     0   0   0     0  ...   0     0   1  0  0   0     1
...     ...        ...  ...   ...  ..  ..   ...  ...  ..   ...  .. .. ..  ..   ...
1090  35 27         연무    0     0   0   1     0  ...   0     0   0  0  0   0     1
1091  35 28         없음    0     0   0   0     0  ...   0     0   1  0  0   0     1
1092  35 29       비 박무    0     0   0   0     0  ...   1     0   0  0  1   0     2
1093  35 30  비 눈 박무 연무    0     0   0   1     0  ...   1     0   0  1  1   0     4
1094  35 31          눈    0     0   0   0     0  ...   0     0   0  1  0   0     1

[1095 rows x 23 columns]

In [199]:
sorted(list(conds.columns))
#이 순서 그대로 index, 없음만 뒤로 보내겠습니다

['index',
 '날씨',
 '날씨개수',
 '낮은안개',
 '눈',
 '달무리',
 '달코로나',
 '무지개',
 '박무',
 '비',
 '소나기',
 '소낙눈',
 '싸락눈',
 '싸락우박',
 '안개',
 '안개비',
 '없음',
 '연무',
 '우박',
 '진눈깨비',
 '채운',
 '햇무리',
 '황사']

In [202]:
#변수 재할당보다는 inplace=True가 좀더 멋진 방법입니다
conds=conds.reindex(columns=[ '날씨','날씨개수','낮은안개', '눈', '달무리', '달코로나', '무지개', '박무',  '비', '소나기', '소낙눈', '싸락눈', '싸락우박', '안개', '안개비','연무', '우박', '진눈깨비', '채운', '햇무리', '황사','없음','index'])

일단 완성입니다! csv로 내보내 합칩시다.

In [203]:
conds.to_csv('weather')

In [206]:
df = pd.read_csv('도로교통공단_서울시 일별 시간별 교통사고 현황_20191231 (1).csv', encoding = 'cp949')

In [209]:
df

               발생일  발생시간 발생지_시도 발생지_시군구 법정동명  사고건수  사망자수  중상자수  경상자수  부상신고자수
0       2017-01-01     0     서울     강북구  미아동     1     0     1     6       0
1       2017-01-01     0     서울     노원구  상계동     1     0     0     1       0
2       2017-01-01     0     서울     동작구  상도동     1     0     0     1       0
3       2017-01-01     0     서울     서초구  서초동     1     0     0     1       0
4       2017-01-01     0     서울     송파구  잠실동     1     0     0     1       0
...            ...   ...    ...     ...  ...   ...   ...   ...   ...     ...
114438  2019-12-31    22     서울     송파구  송파동     1     0     0     1       0
114439  2019-12-31    22     서울    영등포구  대림동     1     0     0     1       0
114440  2019-12-31    22     서울     중랑구  면목동     1     0     0     0       1
114441  2019-12-31    23     서울     강남구  수서동     1     0     0     1       0
114442  2019-12-31    23     서울     강남구  역삼동     1     0     0     0       2

[114443 rows x 10 columns]

In [217]:
gd_day_time=df.groupby(['발생일','발생시간'])['사고건수','사망자수','중상자수','경상자수','부상신고자수'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

발생일로 그룹화

In [218]:
gd_day=df.groupby(['발생일'])['사고건수','사망자수','중상자수','경상자수','부상신고자수'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

발생시간으로 그룹화

In [219]:
gd_time=df.groupby(['발생시간'])['사고건수','사망자수','중상자수','경상자수','부상신고자수'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [227]:
gd_day.reset_index(inplace=True)

In [232]:
newdf=gd_day.merge(conds, left_index=True, right_index=True)

In [238]:
newdf.iloc[234]
#날짜 정확히 잘 합쳐졌습니다!

발생일       2017-08-23
사고건수             122
사망자수               1
중상자수              40
경상자수             100
부상신고자수            10
날씨              비 박무
날씨개수               2
낮은안개               0
눈                  0
달무리                0
달코로나               0
무지개                0
박무                 1
비                  1
소나기                0
소낙눈                0
싸락눈                0
싸락우박               0
안개                 0
안개비                0
연무                 0
우박                 0
진눈깨비               0
채운                 0
햇무리                0
황사                 0
없음                 0
Name: 234, dtype: object

In [237]:
del newdf['index']
#이제 필요없을듯하니 날씨데이터의 index는 버리겠습니다

In [239]:
newdf.to_csv('통합데이터_서울_일별사고날씨.csv')

In [240]:
newdf

             발생일  사고건수  사망자수  중상자수  경상자수  부상신고자수  ... 우박  진눈깨비  채운  햇무리  황사  없음
0     2017-01-01    73     2    25    90      10  ...  0     0   0    0   0   0
1     2017-01-02    82     4    27    92      17  ...  0     0   0    0   0   0
2     2017-01-03    88     1    25    80      13  ...  0     0   0    0   0   0
3     2017-01-04   115     1    39    99      25  ...  0     0   0    0   0   0
4     2017-01-05   103     1    34   111       8  ...  0     0   0    0   0   1
...          ...   ...   ...   ...   ...     ...  ... ..   ...  ..  ...  ..  ..
1090  2019-12-27    94     0    27    88      14  ...  0     0   0    0   0   0
1091  2019-12-28    94     0    27   105      10  ...  0     0   0    0   0   1
1092  2019-12-29    78     1    26    87       7  ...  0     0   0    0   0   0
1093  2019-12-30    91     1    19    93      53  ...  0     0   0    0   0   0
1094  2019-12-31   106     2    20   102      12  ...  0     0   0    0   0   0

[1095 rows x 28 columns]



---

날씨 데이터 크롤링 / 가벼운 전처리 / 데이터 통합을 완료했습니다